---
import './styles.scss';

export interface Props {
  productId: string;
}

const { productId } = Astro.props;

const actions = [
  { icon: '/src/assets/images/top_eye_icon.png', action: 'view' },
  { icon: '/src/assets/images/top_star_icon.png', action: 'wishlist' },
  { icon: '/src/assets/images/top_share_icon.png', action: 'share' },
  { icon: '/src/assets/images/top_cart_icon.png', action: 'cart' }
];
---

<script >
  const containers = document.querySelectorAll<HTMLElement>('.base-product-actions');

  if (containers) {
    containers.forEach(container => {
      const productId = container.dataset.id;
      const buttons = container.querySelectorAll<HTMLButtonElement>('.base-product-actions__control');
      
      buttons.forEach((button) => {
        const action = button.dataset.action;

        button.addEventListener('click', () => {
          switch(action) {
            case 'view':
              console.log(`View product ${productId}`);
              break;
            case 'wishlist':
              console.log(`Adding product ${productId} to wishlist`);
              break;
            case 'share':
              console.log(`Share product ${productId}`);
              break;
            case 'cart':
              console.log(`Adding product ${productId} to cart`);
              break;
          }
        });
      });
    });
  }
</script>

<ul data-id={productId} class="base-product-actions">
  {actions.map((item) => (
    <li class="base-product-actions__item">
      <button type="button" data-action={item.action} class="base-product-actions__control">
        <img src={item.icon} alt='' class="base-product-actions__icon" />
      </button>
    </li>
  ))}
</ul>