---
import './_base-menu.scss';

interface baseMenuItem {
  href: string;
  name: string;
}

const currentPath = Astro.url.pathname;

const baseUrl = import.meta.env.BASE_URL;

const menuItems: baseMenuItem[] = [
  { href: '/portfolio/store/', name: 'home' },
  { href: '/portfolio/store/store', name: 'store' },
  { href: '/portfolio/store/about', name: 'about' },
  { href: '/portfolio/store/blog', name: 'blog' },
  { href: '/portfolio/store/contacts', name: 'contacts' },
];

const href = (item: baseMenuItem): string => {
  return item.name === 'home' ? `${baseUrl}` : `${baseUrl}/${item.name}`
}
---

<nav class="base-menu">
  {
    menuItems.map((item) => (
      <a
        href={href(item)}
        class:list={[
          'base-menu-link',
          { 'base-menu-link--active': currentPath === item.href },
          { 'base-menu-link--store': item.name === 'store' },
        ]}
      >
        {item.name}
      </a>
    ))
  }
</nav>