---
import './_base-menu.scss';

interface baseMenuItem {
  href: string;
  name: string;
}

const currentPath = Astro.url.pathname;

const baseUrl = import.meta.env.BASE_URL;

console.log(baseUrl)

const menuItems: baseMenuItem[] = [
  { href: '/', name: 'home' },
  { href: '/store', name: 'store' },
  { href: '/about', name: 'about' },
  { href: '/blog', name: 'blog' },
  { href: '/contacts', name: 'contacts' },
];

const href = (item: baseMenuItem): string => {
  return item.name === 'home' ? `/${baseUrl}` : `/${baseUrl}/${item.name}`
  // return item.href;
}
---

<nav class="base-menu">
  <div>{baseUrl}</div>
  {
    menuItems.map((item) => (
      // <a
      //   href={href(item)}
      //   class:list={[
      //     'base-menu-link',
      //     { 'base-menu-link--active': currentPath === item.href },
      //     { 'base-menu-link--store': item.name === 'store' },
      //   ]}
      // >
      //   {item.name}
      // </a>
      // <a href={new URL(`${baseUrl}/${item.name}`, Astro.url)}
      <a href={href(item)}
        class:list={[
          'base-menu-link',
          { 'base-menu-link--active': currentPath === item.href },
          { 'base-menu-link--store': item.name === 'store' },
        ]}>{item.name}</a>
    ))
  }
</nav>